body {
    margin: 0;
    background-color: #222;
    color: #fffefe;
    font-family: sans-serif;
    overflow: hidden;
}

#controls {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    background-color: #333;
    height: 6vh;
}
#controls input {
    height: 4vh;
    width: 10%;
}

#game {
    width: 100%;
    height: 94vh;
    overflow: scroll;
}

#game span {
    display: flex;
}

#game span button {
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: solid 1.5px #333;
    background-color: #555;
    color: #555;
}

#game span button:hover {
    border: solid 1.5px #aaa;
}